@font-face {
    font-family: 'Bebas Neue';
    src: url('https://fonts.google.com/share?selection.family=Bebas+Neue') format('woff2'),
         url('https://fonts.google.com/share?selection.family=Bebas+Neue') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

.dark-background {
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-left {
    position: absolute;
    top: 30px;
    left: 80px;
    font-size: 24px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center-text {
    font-size: 120px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    width: 100%;
    margin-top: 200px;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
}

.content-below {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Adjust this value to move the content further down */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 450px;
}

button {
    padding: 30px 210px;
    font-size: 28px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff; /* Add white border of 2px */
    font-family: 'Bebas Neue', sans-serif; /* Change font to Hagrid */
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /* Add transition for animation */
}

button:hover {
    background-color: #fff;
    color: #000;
}

.banner-image {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 600px; /* Increase the width */
    height: auto;
    margin-top: 49px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}